pre.htmlmixed > .CodeMirror {
    height: auto;
}

.exp-body {
    width: 1px;
    max-width: 1px;
}

.httpstyle > .CodeMirror {
    height: auto;
}

.json > .CodeMirror, .xml > .CodeMirror, .text > .CodeMirror  {
    font-size: small;
    height: fit-content;
}

.json > .CodeMirror-merge, .xml > .CodeMirror-merge, .text > .CodeMirror-merge {
    font-size: xx-small;
}

pre.CodeMirror-line * {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-size: xx-small !important;
}

.file.show.collapse .CodeMirror, .file.show.collapse .CodeMirror-scroll, .file.show.collapse .CodeMirror-merge {
    height: 100% !important;
    max-height: none;
}

.exp-status {
    font-size: small;
    margin-bottom: 0;
    width: fit-content;
}

td.json.rest-failure, td.xml.rest-failure, td.htmlmixed.rest-failure, td.text.rest-failure {
    padding: 0;
    border: none;
    overflow: hidden;
}

td.json.rest-success, td.xml.rest-success, td.htmlmixed.rest-success, td.text.rest-success {
    padding: 0;
    border: none;
    overflow: hidden;
}

.CodeMirror-merge,
.CodeMirror-merge .CodeMirror,
.CodeMirror-scroll,
.CodeMirror {
    background-color: transparent;
    border: none;
    /*max-height: 350px;*/
}

.CodeMirror-merge .CodeMirror-scroll {
    overflow: hidden;
}

.rest-success {
    background-color: #d1e7dd !important;
    border-color: #99cc99 !important;
}

.rest-failure {
    background-color: #ffdddd !important;
    border-color: #cc9999 !important;
}

.nav-link.active.rest-failure {
    border-bottom: none;
}

.CodeMirror-merge-r-chunk-end,
.CodeMirror-merge-r-chunk-start {
    border-color: #ffcccc;
}

.CodeMirror-merge-r-chunk,
.CodeMirror-merge-l-chunk {
    background-color: #ffcccc;
}

.CodeMirror-merge-gap {
    background-color: transparent;
    border-left: 1px dashed #cc9999;
    border-right: 1px dashed #cc9999;
}

.CodeMirror-merge-l-connect,
.CodeMirror-merge-r-connect {
    fill: #ffcccc;
    stroke: #ffcccc;
    stroke-width: 1px;
}

.doc-code {
    background-color: #eaeaea;
    border-radius: 0.25rem !important;
    padding: 0;
    margin-top: 0.25rem !important;
}

pre > code * {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
}

pre > code {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
}

.row .doc-code {
    width: fit-content;
}

.alert-warning .doc-code {
    white-space: pre-wrap;
}

.alert-warning pre.doc-code * {
    font-size: x-small !important;
}
