p {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    max-width: none;
    line-height: unset;
}

.alert-warning pre {
    background: inherit;
}

table td > code {
    white-space: nowrap;
}

table td > span {
    min-width: 150px;
}

.file.show.collapse {
    height: 100% !important;
}

.file.collapse {
    display: block !important;
    height: 100px;
    overflow: hidden;
}

.file.collapsing {
    height: 100px;
}

.fa-caret-square-down.collapsed {
    background: linear-gradient(to bottom, transparent, #f8f9fa);
    justify-content: center;
    width: 100%;
}

div.fa-caret-square-down {
    position: absolute;
    text-align: right;
    z-index: 10;
    height: 100%;
    align-items: flex-end;
    display: flex !important;
    background: linear-gradient(transparent, #dee2e6);
    margin-left: -10px;
}

.bd-content > h4 {
    margin-top: 2rem
}

.example-title {
    text-decoration: none;
    color: inherit;
}

.nav-example-failed {
    padding-left: 0.5rem;
    color: indianred !important;
}

.mq-send > table {
    table-layout: fixed;
}

.mq-send pre {
    border-radius: 0.25rem !important;
}

.mq-check > table {
    table-layout: fixed;
}

.mq-check pre {
    border-radius: 0.25rem !important;
}

dt a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 300;
}

dd a {
    text-decoration: none;
}

.file.collapse {
    display: block !important;
    height: 200px;
    overflow: hidden;
}

.file.collapsing {
    height: 200px;
}

.fa-caret-square-down.collapsed {
    background: linear-gradient(to bottom, transparent, #f8f9fa);
    justify-content: center;
    width: 100%;
}

div.fa-caret-square-down {
    position: absolute;
    text-align: right;
    z-index: 10;
    height: 100%;
    align-items: flex-end;
    display: flex !important;
    background: linear-gradient(transparent, #dee2e6);
    margin-left: -10px;
}

.badge {
    margin: 1px;
    font-size: xx-small;
}

li.nav-item {
    margin-bottom: 0;
}

button.nav-link {
    padding: .3rem 1rem;
}

a.toc-link {
    font-size: 12px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 16px;
}

.is-active-link {
    text-decoration-color: #53bc4b !important;
    text-decoration-line: underline !important;
}

a.toc-link > del {
    color: white;
    background: red;
}

li > a {
    font-size: 16px;
    font-weight: 400;
}

a.success {
    border-bottom: 2px solid #afa;
    background-color: transparent !important;
}

a {
    text-decoration: none !important;
}

.alert-warning pre {
    border: 1px solid #ffc8c8;
}

.alert-warning table {
    background-color: #f8f9fa!important;
    border: 1px solid #dee2e6!important;
}

table.ws-cases > tbody > tr > td {
    max-width: 1px;
    border: none;
}

.stackTrace {
    overflow: auto;
}

.db-check td {
    white-space: nowrap;
}

div.given {
    margin-bottom: 1rem;
}

div.when {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.then {
    margin-top: 1rem;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
}

pre {
    background-color: #eaeaea;
    border-radius: 0.25rem!important;
    padding: 0;
    margin-top: 0.25rem!important;
}

.filename {
    font-family: monospace;
    font-size: 14px;
    font-style: italic;
}

.footer {
    text-align: right;
    margin-top: 40px;
    font-size: 8pt;
    width: 100%;
    color: #999;
}

.footer .testTime {
    padding: 2px 10px 0 0;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    font-size: small;
}

.breadcrumbs {
    font-size: 10pt;
}

p.success {
    padding: 2px;
}
.success, .success * {
    background-color: #afa !important;
}
.success pre {
    background-color: #bbffbb;
}
.failure, .failure * {
    background-color: #ffb0b0;
    padding: 1px;
}
.failure .expected {
    text-decoration: line-through;
    color: #bb5050;
}
.ignored, .ignored * {
    background-color: #f0f0f0 !important;
}

ins {
    text-decoration: none;
}

.exceptionMessage {
    background-color: #fdd;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 10pt;
    display: block;
    font-weight: normal;
    padding: 4px;
    text-decoration: none !important;
}

.stackTrace, .stackTrace * {
    font-weight: normal;
}

.stackTrace {
    display: none;
    padding: 1px 4px 4px 4px;
    background-color: #fdd;
    border-top: 1px dotted black;
}

.stackTraceExceptionMessage {
    display: block;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 8pt;
    white-space: pre-wrap;
    padding: 1px 0 1px 0;
}

.stackTraceEntry {
    white-space: nowrap;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    display: block;
    font-size: 8pt;
    padding: 1px 0 1px 32px;
}

.stackTraceButton {
    font-size: 8pt;
    margin: 2px 8px 2px 0;
    font-weight: normal;
}

.special {
    font-style: italic;
}

.missing, .missing * {
    background-color: #ff9999;
    color:#bb5050;
    text-decoration: line-through;
}

.surplus, .surplus * {
    background-color: #ff9999;
}

.tight li {
    margin-top: 1px;
    margin-bottom: 1px;
}

.commentary {
    float: right;
    width: 200px;
    background-color: #ffffd0;
    padding:8px;
    border: 3px solid #eeeeb0;
    margin: 10px 0 10px 10px;
}

.commentary, .commentary * {
    font-size: 8pt;
}