#toggle-button {
    overflow: hidden;
}

#toggle-button img {
    float: right;
}

#toggle-button img:hover{
    cursor: pointer;
}

#toggle-button a {
    float: right;
    margin: 0;
}

.time-toggle-button {
    padding: 5px;
}

.time-toggle-button-on {
    background-color: #F5F9FD;
    border: 1px solid #C3D9FF;
    padding: 4px;
}

.time-fig {
    overflow: hidden;
}

.time-fig p {
    float: right;
    margin: 0;
    color: gray;
    font-style: italic;
}

.time-fig-table-cell p {
    float: right;
    margin: 0;
    color: gray;
    font-style: italic;
}

.time-run {
    color: gray;
    font-style: italic;
}