td.exp-body.json, td.exp-body.xml {
    width: 1px;
}

td.json > .CodeMirror {
    max-width: 400px;
    font-size: small;
}

td.json > .CodeMirror-merge {
    max-width: 1000px;
    font-size: xx-small;
}

td.xml > .CodeMirror {
    max-width: 600px;
    font-size: small;
}

td.xml > .CodeMirror-merge {
    max-width: 1000px;
    font-size: xx-small;
}

td.exp-status {
    font-size: small;
}

td.json.rest-failure, td.xml.rest-failure, td.text.rest-failure {
    padding: 0;
    border: none;
    overflow: hidden;
}

td.json.rest-success, td.xml.rest-success, td.text.rest-success {
    padding: 0;
    border: none;
    overflow: hidden;
}

.CodeMirror-merge,
.CodeMirror-merge .CodeMirror,
.CodeMirror-scroll,
.CodeMirror {
    height: min-content;
    background-color: transparent;
    border: none;
    max-height: 500px;
}

.CodeMirror-merge .CodeMirror-scroll {
    overflow: hidden;
}

.rest-success {
    background-color: #ddffdd !important;
    border-color: #99cc99 !important;
}

.rest-failure {
    background-color: #ffdddd !important;
    border-color: #cc9999 !important;
}


.CodeMirror-merge-r-chunk-end,
.CodeMirror-merge-r-chunk-start {
    border-color: #ffcccc;
}

.CodeMirror-merge-r-chunk,
.CodeMirror-merge-l-chunk {
    background-color: #ffcccc;
}

.CodeMirror-merge-gap {
    background-color: transparent;
    border-left: 1px dashed #cc9999;
    border-right: 1px dashed #cc9999;
}

.CodeMirror-merge-l-connect,
.CodeMirror-merge-r-connect {
    fill: #ffcccc;
    stroke: #ffcccc;
    stroke-width: 1px;
}