.CodeMirror-merge,
.CodeMirror-merge .CodeMirror,
.CodeMirror-scroll,
.CodeMirror {
    height: auto;
}

.CodeMirror-merge .CodeMirror-scroll {
    overflow: hidden;
}

.CodeMirror-merge-gap {
    position: absolute;
}

.json, .xml {
    background-color: #f8f8f8;
}

.rest-success {
    background-color: #ddffdd;
    border-color: #99cc99;
}

.rest-failure {
    background-color: #ffdddd;
    border-color: #cc9999;
}

.CodeMirror {
    background-color: transparent;
}

.CodeMirror-merge-r-chunk-end,
.CodeMirror-merge-r-chunk-start {
    border-color: #ffcccc;
}

.CodeMirror-merge-r-chunk,
.CodeMirror-merge-l-chunk {
    background-color: #ffcccc;
}

.CodeMirror-merge-gap {
    background-color: transparent;
    border-left: 1px dashed #cc9999;
    border-right: 1px dashed #cc9999;
}

.CodeMirror-merge-l-connect,
.CodeMirror-merge-r-connect {
    fill: #ffcccc;
    stroke: #ffcccc;
    stroke-width: 1px;
}